.about__title{
  font-family: $main-font-bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}
.about__icon{
  fill: $color-primary;
}
.about__list-item{
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 20px;
  color: $black;
}