.order-form__title{
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $color-primary;
}
.order-form__label-radio,
.order-form__label-check,
.order-form__label{
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 18px;
  color: $black;
}
.order-form__input,
.order-form__input-tel,
.order-form__input-email,
.order-form__input-textarea{
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  color: $color-primary-text;
  opacity: 0.3;
}
.order-form__text{
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;
  color: $color-primary-text;
}