.product-week__title{
  font-family: $main-font-bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}
.product-week__label{
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 20px;
  color: $color-primary;
}
.product-week__text,
.product-week__table-field{
  font-family: $main-font;
  font-size: 17px;
  line-height: 20px;
  color: $color-primary-text;
}
.product-week__price{
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-primary-text;
}
