.reviews__title{
  font-family: $main-font-bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}
.reviews__text,
.reviews__author-nick{
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $color-primary-text;
}
.reviews__author-name{
  font-family: $main-font-bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}