//colors
$white: #fff;
$black: #000;

$color-primary: #63d1bb;
$color-primary-dark: #56c3b2;
$color-primary-text: #444444;
$color-footer-bgr: #f1f1f1;
$color-popup-border: #c6c6c6;
$color-catalog-border: #ececec;
//fonts
$main-font: "OpenSans", sans-serif;
$main-font-bold: "OpenSansBold", sans-serif;
